@import "colours";

div.items{
	padding-left: 40px;

	& > a > div{
		float: left;
		position: relative;
		width: 184px;
		height: 184px;
		margin: 0 20px 20px 0;
		border-radius: 20px;
		transition: box-shadow 300ms;

		&:hover{
			box-shadow: 0 0 10px 10px $dark_red;
			cursor: pointer;
		}

		div{
			width: 100%;
			height: 100%;
			border-radius: 20px;
			box-shadow: inset 0 0 20px 5px black;
		}

		h2{
			position: absolute;
			bottom: 0;
			width: 100%;
			line-height: 45px;
			margin: 0;
			padding: 0 10px;
			box-sizing: border-box;
			font-size: 1.25em;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.7);
			border-radius: 0 0 20px 20px;

			&.smaller_text{
				font-size: 1em;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	div.items{
		padding-left: 20px;

		& > a > div{
			width: calc((100vw - 60px) / 2);
			height: calc((100vw - 60px) / 2);

			div{
				background-size: 100%;
			}
			h2{
				line-height: 35px;

				&.smaller_text{
					font-size: 1.25em;
				}
			}
		}
	}
}