div.item{

	& > img{
		float: left;
		margin-left: 40px;
		border-radius: 20px;
		box-shadow: 0 0 10px 10px #C60000;
	}

	h2{
		float: left;
		margin: 0 0 0 40px;
		line-height: 200px;
		font-size: 2.5em;
	}

	h3{
		margin: 40px 40px 0 40px;
		font-size: 1.75em;
	}

	h4{
		margin-left: 40px;
		font-size: 1.25em;
	}

	p{
		margin: 20px 40px;
		line-height: 1.4em;
		text-align: justify;
	}

	& > div{
		float: right;

		& > img{
			float: right;
			width: 40%;
			margin: 40px;
		}
	}

	div.stats{
		width: 100%;

		h3{
			margin-top: 20px;
		}

		table{
			margin: 10px 40px 1.33em;
			text-align: left;

			th{
				font-size: 1.25em;
				padding: 0 20px;
				white-space: nowrap;
			}
			td{
				padding-top: 5px;
			}
			tr:first-child td{
				padding-top: 0;
			}

			&.difficulties{
				margin-top: 1.33em;
				text-align: center;

				th:nth-child(1), td:nth-child(1){
					padding-left: 0;
					text-align: left;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	div.item{

		& > img{
			margin: 20px 0 0 calc(50% - 184px / 2);
		}
		h2{
			width: 100%;
			margin: 20px 0;
			text-align: center;
			line-height: normal;
		}
		& > div{
			& > img{
				width: calc(100% - 40px);
				margin: 0 20px;
				box-sizing: border-box;
			}
			h3, h4, p{
				float: left;
				width: 100%;
				margin: 20px 0 0 0;
				padding: 0 20px;
				box-sizing: border-box;
			}
		}
		div.stats{
			table{
				position: relative;
				top: 10px;
				margin: 0;
				padding: 0 20px;
			}
			& > div{
				position: relative;
				top: 10px;
				margin: 0 0 15px 0;
				padding: 0 20px 10px 20px;
				overflow-x: scroll;

				table.difficulties{
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}