@import "colours";
@import "enemies";

/* latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

body {
	font-family: Lato, Arial, sans-serif;
	background-color: #1f1f1f;
	margin: 0;
	height: 100vh;
}

a, a:visited {
	color: $dark_red;
	text-decoration: none;
}

nav {
	float: left;
	width: 20%;
	height: 100vh;
	background-color: black;

	img {
		width:100%;
		margin-top:1em;
	}

	a {
		display: block;
		font-size: 24px;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-left: 40px;
	}
}

@media only screen and (max-width: 480px) {
	nav {
		position: fixed;
		left: -75%;
		top: 0;
		width: 70%;
		z-index: 10;
		box-shadow: 0 0 10px 10px black;
		transition: left 300ms;

		&.expanded {
			left: 0;
		}

		a {
			font-size: 2.5em;
			margin-top: 0.25em;
			margin-bottom: 0.25em;
			padding-left: 0;
			text-align: center;
		}
	}

	div#content {
		width: 100%;
	}
}

div#content {
	float: left;
	width: 80%;
	background-color:#212121;

	h1 {
		margin-left: 20px;
		color: #FFF;
		font-size: 3em;
	}
}