<!DOCTYPE html>
<html>
<head>
	<!--suppress HtmlUnknownTarget -->
	<script src="/handlebars/handlebars.runtime.js"></script>
	<script src="/scripts/main.min.js"></script>
</head>
<body>
<nav>
	<a href="javascript:goToPage('heroes')">
		<ul>
			Heroes
		</ul>
	</a>
	<a href="javascript:goToPage('enemies')">
		<ul>
			Enemies
		</ul>
	</a>
	<a href="javascript:goToPage('trinkets')">
		<ul>
			Trinkets
		</ul>
	</a>
</nav>
<div id="content">

</div>
</body>
</html>