<!DOCTYPE html>
<html>
<head>
	<!--suppress HtmlUnknownTarget -->
	<script src="/handlebars/handlebars.min.js"></script>
	<script src="/scripts/main.js"></script>
	<script src="/scripts/templates.js"></script>
	<style>
		/* latin */
		@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
		}

		/* latin-ext */
		@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
			unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
		}

		body {
			font-family: Lato, Arial, sans-serif;
			background-color: #1f1f1f;
			margin: 0;
			height: 100vh;
		}

		a, a:visited {
			color: #C60000;
			text-decoration: none;
		}

		ul {
			font-size: 1.5em;
		}
	</style>
</head>
<body>
<nav style="width:20%; background-color:black; height:100vh">
	<img src="/images/logo.png" style="width:100%; margin-top:1em"/>
	<a href="/heroes/">
		<ul>
			Heroes
		</ul>
	</a>
	<a href="/enemies/">
		<ul>
			Enemies
		</ul>
	</a>
	<a href="/trinkets/">
		<ul>
			Trinkets
		</ul>
	</a>
</nav>
<div id="content" style="background-color:#212121">
	{{{body}}}
</div>
</body>
</html>