<!DOCTYPE html>
<html>
<head>
	<title>{{#if title}}{{title}} - {{/if}}Vermintide Utility</title>
	<link rel="dns-prefetch" href="http://fonts.gstatic.com">
	<link rel="dns-prefetch" href="http://www.google-analytics.com">
	{{#if description}}
		<meta name="description" content="{{description}}">
	{{else}}
		<meta name="description" content="Everything you could possibly want to know about Vermintide, plus more!">
	{{/if}}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#212121">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="/handlebars/handlebars.min.js"></script>
	<script src="/scripts/main.min.js"></script>
	<script src="/scripts/templates.min.js"></script>
	<script>(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', 'UA-72698344-1', 'auto');
	ga('require', 'linkid');
	ga('send', 'pageview');</script>
</head>
<body>
<nav id="menu">
	<div id="cover" onclick="setMenuOpen(false)"></div>
	<div>
		<a href="http://vermintideutility.com" style="margin:0;padding:0">
			<img src="/images/logo.png" alt="Vermintide Utility logo"/>
		</a>
		<a href="/heroes/" onclick="setMenuOpen(false)">
			Heroes
		</a>
		<a href="/enemies/" onclick="setMenuOpen(false)">
			Enemies
		</a>
		<a href="/trinkets/" onclick="setMenuOpen(false)">
			Trinkets
		</a>
		<a href="/weapons/" onclick="setMenuOpen(false)">
			Weapons
		</a>
	</div>
</nav>
<div id="content">
	{{{body}}}
</div>
<div id="hamburger" onclick="setMenuOpen(true)">
	<div style="margin: 0;"></div>
	<div></div>
	<div></div>
</div>
</body>
</html>