<h1>Enemies</h1>
<div id="enemies">
	{{#each enemies}}
		<a href="{{url}}">
			<div>
				<div style="background-image:url({{icon}})"></div>
				<h2 {{#smallerFont name}}{{/smallerFont}}>{{name}}</h2>
			</div>
		</a>
	{{/each}}
</div>