<h1>Weapons</h1>
<div class="items weapons">
	{{#each weapon_sets}}
		<h2>{{hero}}</h2>
		{{#each weapons}}
			<a href="{{url}}">
				<div>
					<div style="background-image:url({{icon}})"></div>
					<h2 {{#smallerFont name}}{{/smallerFont}}>{{name}}</h2>
				</div>
			</a>
		{{/each}}
	{{/each}}
</div>